<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<title>상품 목록</title>
<link rel="stylesheet" href="/product/css/productList.css">
</head>
<body>
<h1>상품 목록</h1>
    <div class="dropdown">
        <button class="dropbtn">정렬 기준</button>
        <div class="dropdown-content">
            <a href="#" data-sort="newest">최신순</a>
            <a href="#" data-sort="oldest">등록순</a>
        </div>
    </div>


    <div class="product-grid" id="product-container">
        <div class="product-item" th:each="product : ${products}">
            <!-- 썸네일 이미지 -->
            <img th:src="@{${product.thumbnailUrl}}" alt="상품 썸네일">
            <!-- 상품 이름 -->
            <div class="product-name" th:text="${product.name}"></div>
            <!-- 상품 가격 -->
            <div class="product-price" th:text="${'₩ ' + product.price}"></div>
        </div>
    </div>
    
	<script src="/product/js/productList.js"></script>
</body>
</html>