<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <meta charset="UTF-8">
    <title>주문 내역</title>
    <link rel="stylesheet" href="/common/css/bootstrap.min.css"/>
</head>
<body>
<main layout:fragment="content">
<div class="container mt-5">
    <h2>주문 내역</h2>

    <div th:each="dateEntry : ${ordersByDate}">

        <h3 th:text="${#temporals.format(dateEntry.key, 'yyyy.MM.dd')}"></h3>

        <!-- 해당 날짜의 Order 목록 -->
        <div th:each="order : ${dateEntry.value}" class="border p-3 mb-3">




            <!-- orderItems(이미 productId asc 정렬) -->
            <div th:each="item, stat : ${order.orderItems}">
            
            	 <div th:if="${stat.index == 0}">
	                <span style="font-size:0.8rem;color:gray;"
	                      th:text="${order.orderStatus}">
	                    NEW
	                </span>
	            </div>
	            
				<strong th:text="${item.productName}">상품명</strong>
                <!-- [상품명, 썸네일]: productId가 이전 item과 달라질 때만 표시 -->
                <div th:if="${stat.index == 0 
                             or item.productId != order.orderItems[stat.index-1].productId}">

                    
                    <!-- 썸네일 -->
                    <img th:src="${item.thumbnailUrl}"
                         style="width:80px; height:80px; object-fit:cover; margin-left:10px;"/>
                </div>

                <!-- 항상 옵션(color/size) 표시 -->
                <p style="margin-left:50px;"
                   th:text="'옵션: ' + ${item.color} + ' / ' + ${item.size} + ' | 수량: ' + ${item.quantity} + '개'">
                </p>
                
                <p>주문 총액: <span th:text="${order.totalPrice}">0</span>원</p>
            </div>
        </div>
    </div>
</div>
</main>
</body>
</html>
