<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head><title>Admin Product</title></head>
<body>
	<h2>Admin Product 페이지</h2>
	
	<table border="1">
		<thead>
			<tr>
				<th>번호</th>
				<th>이름</th>
				<th>가격</th>
				<th>설명</th>
				<th>이미지</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product, stat : ${products}">
				<td th:text="${stat.index + 1}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.price}"></td>
				<td th:text="${product.description}"></td>
				<td>
					<img th:src="@{${product.thumbnailUrl}}" alt="썸네일 이미지" width="100">
				</td>
				
				<td>
	                <!-- 수정 버튼 -->
	                <a th:href="@{/admin/products/edit/{id}(id=${product.productId})}"
	                   class="btn btn-sm btn-warning">수정</a>
	
	                <!-- 삭제 버튼 -->
	                <form th:action="@{/admin/products/delete/{id}(id=${product.productId})}"
	                      method="post" style="display: inline;">
	                    <button type="submit" class="btn btn-sm btn-danger">삭제</button>
	                </form>
	            </td>
			</tr>
		</tbody>
	</table>
	
	<a href="/admin/products/create">
		<button>상품 등록</button>
	</a>
	
</body>
</html>